{% extends 'layout.html' %}
{% block body %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<html>
<head>
    <style>
      .door {
        height: 100vh;
      }
      .img{
        width: 100%;
        height: 120%;
      }
    </style>
     <div class="container door">
        <div class="row justify-content-between align-items-center">
            <div class="col">
            <div class="card">
                <div class="row card-body">
                   <div class="col">
                    <h1 class="display-2 mb-4">Secure Exams<br class="d-none d-md-inline"> Simplified</h1>
                    <h3 class="display-4 mb-4">Monitor. Manage. Protect.</h3>
                    <p class="lead mb-4 text-muted">Our platform simplifies online assessments with streamlined management and robust protection against cheating. With automated test administration and built-in security features, we ensure academic integrity while maintaining ease of use. Educators can cut costs and expand access to secure, fair exams, allowing students to focus on learning. Whether for small quizzes or large-scale tests, our solution ensures a trustworthy and efficient testing experience for all.</p>
                    </div>
                    <div class="sizes col text-right">
                        <img src="{{ url_for('static', filename='ii1.png') }}"/>
                    </div>
                                </div>
            </div>
        </div>
    </div>
    </div>

          
<br>


<section class="py-5">
  <div class="container">
  <div class="card shadow bg-white text-secondary">
  <div class="card-body">
  
  <div class="container">
  <div class="row">
  <div class="col-10 offset-1">
  <h1 class="text-center">Services We Provide</h1><br>
  <div class="row  justify-content-center feature-container">
  
  <div class="col-12 col-md-4">
  <div class="container">
  <div class="row ">
  <div class="col-12">
  <p><img class="img-fluid services-feature-img" src="/static/ii6.jpg" alt="Dedicated Account Team"></p>
  </div>
  <div class="col-12">
  <h6 class="text-center">Universities</h6>
  <p class="text-center">ExamEase offers a superior online exam experience for candidates and at the same time promote excellence and integrity for education programs.</p>
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-12 col-md-4">
  <div class="container">
  <div class="row ">
  <div class="col-12">
  <p><img class="img-fluid services-feature-img" src="/static/ii2.jpg" alt="Dedicated Account Team"></p>
  </div>
  <div class="col-12">
  <h6 class="text-center">Assessment Providers</h6>
  <p class="text-center">Assessments are available anywhere anytime for candidates. Proview's cognitive technology protects the test and disables false positives.</p>
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-12 col-md-4">
  <div class="container">
  <div class="row ">
  <div class="col-12">
  <p><img class="img-fluid services-feature-img" src="/static/ii3.avif" alt="Dedicated Account Team"></p>
  </div>
  <div class="col-12">
  <h6 class="text-center">E-Learning Programs</h6>
  <p class="text-center">Reduce your expenditure on test centers and inefficient manual proctoring. Integrate ExamEase to your existing test engine or use ExamEase secure test engine to deliver tests.</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  </div>
  </div>
  </div>
</section>



                
              <br>

              <section class="py-5">
                <div class="container">
                <div class="card shadow bg-white text-secondary">
                <div class="card-body">

                  <div class="container">
                    <div class="row">
                    <div class="col-10 offset-1">
                    <h1 class="text-center">Get in touch today</h1><br>
                    <div class="row  justify-content-center feature-container">

                      <iframe class="map rounded" title="map" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d46187.843291937934!2d79.52075301391855!3d17.97928935051283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1snit%20warangal%20google%20map%20link!5e0!3m2!1sen!2sin!4v1725913158239!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <p></p><p></p>
                    <div class="row  justify-content-center feature-container">

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row center-block">
                          <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Visit us</h2>
                            <span>
                                NIT-Warangal
                                <br>Hanamkonda,
                                <br>Telangana-506004,
                            </span>
                        </div>
                        </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row align-items-center">
                          <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="fas fa-phone-volume"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Call</h2>
                            <a href="tel:+91 8143150393">+91 8143150393</a>
                            
                        </div>
                        </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row align-items-center">
                          <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="far fa-paper-plane"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Email</h2>
                            <a href="mailto:care@narenderkeswani.com">care@examease.com</a>
                        </div>
                        </div>
                        </div>
                      </div>                       
                        
                                    </div>       
                        </div>
                    </div>
            </div>      
                    </div>
                </div>
                    </div>
                  </div>
                </div>
                
    </div>
</div>
              </section>
{% endblock %}